DB_HOST=localhost
DB_PORT=3306
DB_SSL_MODE=DISABLED
DB_ROOT_PASSWORD=changeme
DB_USERNAME=root
DB_PASSWORD=changeme
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-16-char-app-password
JWT_SECRET=generate-your-own-256-bit-secret